img {
    width: 500px;
    margin-top: 12px;
    margin-bottom: 12px;
}

h1 {
    margin-bottom: 8px;
    border-style: solid;
    padding: 4px;
}

h2 {
    margin-bottom: 4px;
    color: 202020;
    background-color: B6D5FD;
    padding: 2px;
    padding-left: 4px;
}

h3 {
    margin-top: 8px;
    margin-bottom: 6px;
    color: 303030;
    padding: 2px;
    padding-left: 4px;
}

p { 
    padding-left: 4px;
}

.book-title {
    font-style: italic;
}

.job-title {
    font-style: italic;
    font-size: 16;
    margin-top: 2px;
    margin-bottom: 4px;
}

.body-condensed {
    margin-top: 4px;
    margin-bottom: 4px;
}

